@using System.Web.Mvc.Html
@using JobPortal.Models
@model JobPortal.Models.Seeker

@{
    ViewBag.Title = "CreateResume";
    dynamic text = "sample text";
}

<h4>Create Resume</h4>


@using (Html.BeginForm()) 
{
    <div class="form-horizontal">
        
        <hr />
        <div class="form-group">
            <input name="image" type="file" id="name">
            <input type="button" value="Upload" onclick="set()">
            
            <input type="submit" value="Post" class="btn btn-default" />
        </div>
        
        <div class="form-group">
            
            @Html.EditorFor(model => model.CV )
            @Html.TextArea("CV", "CV")
            @*@Html.TextArea("CV","tinymce_full", @Html.DisplayFor(model => model.CV))*@
           
           
            
        </div>

    </div>
}



@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function set() {
            //alert("button click");

            document.getElementsByName("CV").innerHTML = "textarea";

        }

    </script>


}



<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.1.0.min.js"></script>
